	<IfModule mod_rewrite.c>
	    Options +FollowSymlinks
	    RewriteEngine On

	    # Explicitly disable rewriting for front controllers
	    RewriteRule ^app_dev.php - [L]
	    RewriteRule ^app.php - [L]

	    RewriteCond %{REQUEST_FILENAME} !-f

	    # Change below before deploying to production
	    RewriteRule ^(.*)$ /index.php [QSA,L]

	    #RewriteEngine On
	    #RewriteCond %{HTTPS} off
	    #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

		# Rewrite all resources that start with our caching string to
		# the same url, without the cache prefix. This prefix is to
		# ensure that we don't need to rename our images, but that
		# the cache url automatically changes with a files content
		# to ensure optimum caching.
		RewriteRule ^(cache-[a-zA-Z0-9]{6,32}/)(.*)$ ${unescape-chars:$2} [QSA,L]

		# Enable Authorisation header for apache
		RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization},last]
	</IfModule>
